apiVersion: 1

providers:
  - name: ecommerce
    folder: E-Commerce
    type: file
    disableDeletion: true
    updateIntervalSeconds: 30
    options:
      path: /etc/grafana/provisioning/dashboards
